body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./Image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5;
    ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.1%;

}

#left h1 {
    font-size: 1.1rem;
    color: white;
}

#left h1 span {
    color: #4b4646;
    font-weight: 400;
}

#cont {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

#cont a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;
}

#cont button {
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.882);
    color: white;
}

#menu {
    list-style-type: none;
    background-color: white;
    position: absolute;
    top: 70%;
    right: 0%;
    padding: 0%;
    width: 180%;
    display: none;
}

#drop {
    position: relative;
}

#drop:hover #menu {
    display: block;

}

#menu a {
    color: black;
    border-bottom: 0.5px solid rgb(209, 208, 208);

}

#menu a:hover {
    color: whitesmoke;
    background-color: rgb(249, 134, 134);
}

#submenu {
    list-style-type: none;
    background-color: white;
    position: absolute;
    top: -10%;
    right: 100%;
    padding: 0%;
    width: 100%;
    display: none;
}

#drop2 {
    position: relative;
}

#drop2:hover #submenu {
    display: block;
}

#submenu a {
    color: black;
    border-bottom: 0.5px solid rgb(209, 208, 208);

}

#submenu a:hover {
    color: whitesmoke;
    background-color: rgb(249, 134, 134);
}

#alpha {
    /* display: flex;
    justify-content: center;
    padding-top: 10%; */

    text-align: center;
    margin-top: 6rem;
}

#alpha h1 {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 0;

}

#alpha p {
    color: white;
    font-size: 1.25em;
    margin-bottom: 2rem;
}

#alpha button {
    width: 15%;
    height: 4rem;
    border-radius: 5px;
    border: none;
    color: grey;
    margin-right: 1rem;
}

#alpha #learn {
    background-color: transparent;
    border: white 2px solid;
    color: white;
}

#mobile {
    background-color: white;
    text-align: center;
    width: 65%;
    margin: auto;
    color: #646464;
    border-radius: 5px;
    padding-top: 2rem;
    margin-top: 13rem;
}

#mobile h1 {
    font-size: 2.25em;
    line-height: 1.5em;
    letter-spacing: -0.035em;
}

#mobile p {
    display: inline-block;
    border-top: solid 2px #e5e5e5;
    color: #777;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: 1.25em;
}

#mobile img {
    display: block;
    width: 100%;
}

#icon {
    background-color: white;
    width: 65%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
}
 
#icon section {
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#icon p{
    color: #646464;
}
#icon h1{
    color: #646464;
    font-size: 1.5rem;
}

#icon div {
    width: 47%;
    display: inline-block;
    text-align: center;
    padding-top: 3rem;
}

.fa-bolt-lightning {
    background: #e89980;
    color: white;
    padding: 2.2rem 2.4rem; 
    border-radius: 100%;
    font-size: 2rem;
}

.fa-chart-area {
    background: #7fcdb8;
    color: white;
    padding: 2.2rem 2.2rem;
    border-radius: 100%;
    font-size: 2rem;
 }

.fa-cloud {
    background: #90b0ba;
    color: white;
    padding: 2.2rem 2.0rem;
    border-radius: 100%;
    font-size: 2rem;
}

.fa-lock {
    background: #e5cb95;
    color: white;
    padding: 2.2rem 2.2rem;
    border-radius: 100%;
    font-size: 2rem;
}

#icon #light{
    border-right: 3.5px solid #e5e5e5;
    border-bottom: 2.5px solid #e5e5e5;
    position: relative;
    top: 1.6px;
    left: 3.5px;
}

#icon #lock{
    border-left: 3.5px solid #e5e5e5;
    border-top: 2.5px solid #e5e5e5;
} 

#card {
    width: 65%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

#card div {
    font-size: 1.2rem;
    width: 48.5%;
    background-color: white;
    color: #646464;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 2.5rem;
}

#card div img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image {
    border-radius: 6px;
    border: 0;
    display: inline-block;
    position: relative;
}

#card button {
    font-size: 15px;
    background-color: #f8f8f8;
    color: #777;
    width: 10rem;
    height: 3.5rem;
    border-radius: 7px;
}

#card button:hover {
    background-color: rgba(193, 190, 190, 0.186);
}

#signup {
    width: 100%;
    background: #e89980;
    color: #f9e6df;
    margin-top: 2rem;
    text-align: center;
    padding: 3.5em 0 4em 0;

}

#signup h1 {
    font-size: 34px;
}

#signup p {
    font-size: 1.1rem;
}

#signup button {
    font-size: 15px;
    box-shadow: none;
    background: #fff;
    color: #e89980;
    width: 10rem;
    height: 3.5rem;
    border-radius: 7px;
    border: none;
}

#signup input {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
    border: 0;
    width: 20rem;
    height: 3.5rem;
    border-radius: 7px;
    text-align: center;
    font-size: 15px;
    margin-right: 1rem;
}

footer #icons-foot ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
}

footer #icons-foot ul li a {
    color: #7777774d;
}

footer #text ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
}

.bor {
    padding-right: 2rem;
    border-right: 1px solid #9999994e;
}

footer #text ul li {
    margin: 5px;
    color: #999;
}

footer #text ul li span {
    border-bottom: 2px dotted #999;
}

footer #text ul li span:hover {
    border: none;
}

#mobile-menu {
    display: none;
}

























/* --------Mobile--------- */
@media (max-width:400px) {
    body {
        background-size: 200%;
        background-position-x: center;
    }

    #mobile-menu {
        display: inline-block;
        background-color: grey;
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
    }

    header {
        display: none;
    }

    #alpha {
        width: 80%;
        margin: auto;
        margin-top: 0rem;
    }

    #alpha h1 {
        font-size: 2rem;
    }

    #alpha p {
        font-size: 1.25em;
    }

    #alpha button {
        width: 100%;
        margin-bottom: 1rem;
    }

    #mobile {
        width: 100%;
        border-radius: 0px;
        margin-top: 3rem;
    }

    #mobile h1 {
        font-size: 1.5rem;
    }

    #mobile p {
        font-size: 1.1rem;
        width: 90%;
    }

    br {
        display: none;
    }

}